:root{
    --heitMain: 600px;
}
body{

    margin: 0px;
}


canvas{

    width: 960px;
    height: 600px;    
}
main{
    position: relative;
    margin: 0px;
    margin-left: calc(50% - calc(600px/2));
}

#gameOver{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 960px;
    height: 600px; 
    background-color: rgba(3, 5, 27, 0.685);
    margin: 0px;
}
#gameOver2{
    position: absolute;
    top: 200px;
    left: 350px;
    width: 400px;
    height: 200px; 
    background-color: rgb(8, 202, 228);
    margin: 0px;
}
#gameOver2 a{
    width: 400px;
    height: 200px; 
    display: table-cell;
    color: rgba(3, 5, 27, 0.685);
    text-decoration: none;
    font-size: 4rem;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    padding: 0px;
    transition: all 1s;
}

#gameOver2 a:hover{
    cursor: pointer;
    background-color: rgba(3, 5, 27, 0.685);
    color: rgb(8, 202, 228);
}