:root{
    --hetFooter: 40px;
}



body{

    background-image: url(../images/backSP.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;    
    margin-bottom: -50px;
}
.container{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0px;

}
header{
    height: 60px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(8, 202, 228);
}
main{
    width: 100%;
    margin-top: 100px;
}
main h2{
    color: rgb(8, 202, 228);
}
#nameGame{
    width: 50%;
    height:40%;
    margin: auto;
    display: table;
    border: 4px solid rgb(8, 202, 228);
    font-size: 8rem;
    color: rgb(8, 202, 228);
    line-height: 100%;
    transition: all 1s;
}
#nameGame:hover{
    background-color: rgb(8, 202, 228);
    color: rgb(3, 5, 27);
    border-color: rgb(3, 5, 27);
    cursor: pointer;
    
}

footer{

    width: 100%;
    height: var(--hetFooter);
    background-color: rgb(8, 202, 228);
    text-align: center;
    color: blue;
    margin: 0px;
    padding: 20px;
}
footer a{

    text-decoration: none;
    color:rgb(3, 5, 27);
    
}

