body{
    background-image: url(../images/backSP.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

#container{
    width: 100%;
    padding: 0px;

}

#cabecPrinc{
    width: 100%;
    margin: 0px;
    height: 60px;
    background-color: rgb(8, 202, 228);
}

main {
    width: 960px;
    margin: auto;
    margin-top: 400px;
    background-color: rgba(207, 207, 207, 0.699);
}

#conteudo header{
    margin: 0px;
    background-color: rgb(216, 216, 216);
    margin: auto;
    
}
#navConteudo ul li{
    background-color: rgb(216, 216, 216);    
    width: 100px;
    height: 40px;
    color: rgb(20, 20, 20);
    display: table-cell;
    text-align: center;

    line-height: 40px;
}
#navConteudo ul li:hover{
    background-color: rgb(20, 20, 20);
    color: rgb(216, 216, 216);
}
section{
    padding: 90px;
}
#item1,#item2,#item3,#item4{   
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
    box-shadow: 5px 5px 5px rgb(0,0,0,0.3);
}
#item2,#item3{
    display: none;
}